{% extends 'mybase.html' %}
{% block head %}

{% load staticfiles %}
<link rel='stylesheet' type='text/css' href="{% static 'silent_auction/style.css' %}"/>
{% if auction.active %}
<script type='text/javascript' src='{% static 'silent_auction/price.js' %}'>
</script>
<script>
$(document).ready(function(){
    setPrice('{{auction.uuid}}');
    repeatMe('{{auction.uuid}}');
});
</script>
{% endif %}
{% endblock %}
{% block pagetitle %}
Auction Page
{% endblock %}


{% block body %}
{% if auction.active %}
<div class = 'box'>
Item: <strong>{{auction.item_name}}</strong><br>
Top bid: <span id = 'price'>{{auction.top_bid}}</span><br>
Ends: {{auction.end_time}}<br>
Description: {{auction.item_description}}<br>
    <div class = 'button'>
        <a class = 'fill' href='{% url 'silent_auction:bid_form' %}?auction_id={{auction.uuid}}' 'bid'>Bid now!
        </a>
    </div>
</div>
<div class = 'clear'></div>
{% else %}
<div class = 'box'>AUCTION DONE<br>
Item: <strong>{{auction.item_name}}</strong><br>
Ended: {{auction.end_time}}<br>
Winning bid: {{auction.top_bid}}, by {{winner}}
</div>
{% endif %}
{% if request.user.is_staff %}
<div class = 'clear' />
    {% for x in bids %}
    <div class = 'box'>
        <a href='{% url 'silent_auction:bid' x.uuid %}'>{{x}}</a>
    </div><div class = 'clear'/>
    {% endfor %}
    <div>Troll Bids:</div>
    {% for x in trolls %}
    <div class = 'box'>
        <a href='{% url 'silent_auction:bid' x.uuid %}'>{{x}}</a>
    </div><div class = 'clear'/>
    {% endfor %}
{% endif %}
<div class = 'button'>
    <a class = 'fill' href = '{% url 'silent_auction:main' %}'>Listings</a>
</div>

<div class = 'clear'></div>
{% endblock %}
