{% extends 'mybase.html' %}
{% block head %}

{% load staticfiles %}
<link rel='stylesheet' type='text/css' href="{% static 'silent_auction/style.css' %}"/>
<script type='text/javascript' src='{% static 'silent_auction/price.js' %}'>
</script>
<script>
$(document).ready(function(){
    setPrice('{{auction.uuid}}');
    repeatMe('{{auction.uuid}}');
});
</script>

{% endblock %}
{% block pagetitle %}
Auction Page
{% endblock %}


{% block body %}
{% if auction.active %}
<div class = 'box'>
Item: <strong>{{auction.item_name}}</strong><br>
Top bid: <span id = 'price'>{{auction.top_bid}}</span><br>
Description: {{auction.item_description}}<br>
    <div class = 'button'>
        <a class = 'fill' href='{% url 'silent_auction:bid_form' %}?auction_id={{auction.uuid}}' 'bid'>Bid now!
        </a>
    </div>
</div>
<div class = 'clear'></div>
<div class = 'button'>
    <a class = 'fill' href = '{% url 'silent_auction:main' %}'>Listings</a>
</div>
{% else %}
<div class = 'box'>AUCTION DONE<br>
Item: <strong>{{auction.item_name}}</strong><br>
Winning bid: <span id = 'price'>{{auction.top_bid}}</span>
</div>
{% endif %}
<div class = 'clear'></div>
{% endblock %}
