{% extends 'mybase.html' %}
{% block head %}

{% load staticfiles %}
<link rel='stylesheet' type='text/css' href="{% static 'silent_auction/style.css' %}"/>
<script type='text/javascript' src='{% static 'silent_auction/price.js' %}'>
</script>
<script>
$(document).ready(function(){
    setPrice('{{auction.uuid}}');
    repeatMe('{{auction.uuid}}');
    $('#bid_form').submit(function(){
        return checkBid('{{auction.uuid}}')
    });
});

</script>

{% endblock %}
{% block pagetitle %}
You are bidding on {{auction.item_name}}: $<span id = 'price'>{{auction.top_bid}}</span>
{% endblock %}


{% block body %}
{% if auction.active %}
<div class = 'box'>
    <form action = '{% url 'silent_auction:bid_form' %}?auction_id={{auction_id}}' method = 'POST' id = 'bid_form'>
        {% csrf_token %}
        {% for x in form %}
            {{x.label}}:{{x}}<br>
        {% endfor %}
        <input type = 'submit' value = 'Place Bid'>
    </form>
</div>
{% else %}
IT'S OVER
{% endif %}
<div class = 'clear' />
{% endblock %}
